.birthContainer {
    width: 100%;
    max-width: 200px;
    margin-left: 1.5rem;
    background-color: var(--main-color);
    border-radius: 30px;
    padding: 1rem;
    margin-right: 6rem;
    margin-top: 3rem;
    text-align: left;
    max-height: 300px;
}


.titleContainer {
    text-align: center;
}

.list {
    width: 100%;
}


.title {
    color: var(--off-white-color);
    font-weight: bold;
    margin: 0;

}

.userAvatarUl {
    padding-left: 0rem;
}

@media (max-width: 767px) {
    .birthContainer {
        justify-content: center;
        overflow-x: auto;
        width: 100%;
        padding: 0 2 2 0;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    .titleContainer {
        text-align: center;
    }

    .userAvatarUl {
        justify-content: center;
        overflow-y: scroll;
        text-align: center;
    }

    .containerAvatar {
        display: flex;
        justify-content: center;
    }


    .paddingTopMobile {
        margin-top: 3rem;
        overflow-x: scroll;
    }

}