.colNavigation{
    width: 100%;
    max-width: 200px;
    margin-left: 1.5rem;
    background-color: var(--main-color);
    border-radius: 30px;
    padding:0.3rem;
    overflow-y: hidden;
    max-height: 400px;
    color:var(--off-white-color);
}


.homeNavigation {
    padding: 0
}

.iconMargins {
    margin-top: 1.5rem;
}

.iconContainer {
    width: 40px;
    height: 40px;
    background-color: #eee;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0.4rem;
}

.menuTopic {
    font-size: 0.8em;
    padding: 0.3rem;
}




@media (max-width:992px) {
    .colNavigation {
        display:none;
    }
}