.logo {
    width: 210px;
    height: 70px;
    left: 35px;
    top: 21px;
}



.cardContainer {
    border-radius: 30px;
    background-color: #00ADB5;
    max-width: 16rem;
    margin-right: 4rem;
    font-size: 0.8rem;
    text-align: left;
    color: var(--off-white-color);
    min-width: 16rem;
    min-height: 150px;

}
.imagemTexto{
    padding-right: 10rem;
    padding-left: 2rem;
}
.wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;

}

.navegador {
    background-color: #00ADB5;
    border-radius: 10%;
    width: 250px;
    padding: -1rem;
    height: 521px;
    color: white;
}

.navegacao {
    padding-top: 50px;
    margin-left: 15%;
    /* padding-left: 15%; */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.icones {
    margin-left: 50%;
    /* padding-left: 50%; */
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 29px;

}

.imagemsetor img {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 50px;

}

.textosobre h1 {

    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #00ADB5;
}

.textosobre p {
    width: 100%;
    max-width: 800px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 1rem;
    color: #222831;
}