body {
    background: #01969ee1;
    font-family: sans-serif;
}

.text {
    color: whitesmoke;
    text-align: justify;
    margin: 100px 8vw;
}

.voltar {
    text-align: right;
}

button {
    background-color: white;
    border: 2px solid #03494d;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer
}

button:hover {
    background-color: #03494d;
    color: white;


}