.userAvatar {
    background-color: var(--off-white-color);
    width: 20px;
    height: 20px;
    border-radius: 30px;
    cursor: pointer;
    margin: 0.3rem;
}

.textAlign {
    align-items: left;
}

.userName{
    font-size: 0.8em;
}

.userWork{
    font-size: 0.5em;
}

.userName, .userWork {
    margin-bottom: 0;
    margin-left: 0.2rem;
    color: var(--off-white-color);
}